{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'authe/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'authe/css/authe.css' %}">
</head>
<body>
    <header>
        {% for m in menu %}
        <div>
            <a href="{% url m.url %}">{{ m.title }}</a>
        </div>
        {% endfor %}
    </header>

    <section class="authe-main">
        <h1>Авторизация</h1>

        <form action="" method="POST" class="authe-form">
            {% csrf_token %}
    
            {{ form.as_p }}
    
            <button type="submit">Войти</button>
        </form>
    </section>
    
</body>
</html>