{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'authe/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'authe/css/authe.css' %}">
</head>
<body>
    <header>
        <div>
            {% for m in menu %}
                <a href="{% url m.url %}">{{ m.title }}</a>
            {% endfor %}
        </div>

        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'authe:profile' %}">Profile</a>
                <a href="{% url 'authe:signout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'authe:signin' %}">Sign In</a>
                <a href="{% url 'authe:signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </header>

    <section class="authe-main">
        <h1>Авторизация</h1>

        <form action="" method="POST" class="authe-form">
            {% csrf_token %}
    
            {{ form.as_p }}
    
            <button type="submit">Войти</button>
        </form>
    </section>
    
</body>
</html>