{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'market/css/add.css' %}">
    <link rel="stylesheet" href="{% static 'market/css/header.css' %}">
</head>
<body>
    <header>
        {% for m in menu %} 
        <div>
            <a href="{% url m.url %}">{{ m.title }}</a>
        </div>
        {% endfor %}
    </header>

    <section class="main">
        <form action="{% url 'market:add' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
        </form>
    </section>
</body>
</html>