{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'market/css/basket.css' %}">
    <link rel="stylesheet" href="{% static 'market/css/header.css' %}">
</head>
<body>
    <header>
        <div>
            {% for m in menu %}
                <a href="{% url m.url %}">{{ m.title }}</a>
            {% endfor %}
        </div>

        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'authe:profile' %}">Profile</a>
                <a href="{% url 'authe:signout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'authe:signin' %}">Sign In</a>
                <a href="{% url 'authe:signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </header>

    <section class="main">
        <h1>Все товары в корзине</h1>

        {% for b_item in basket_items %}
        <div class="basket--item">
            <span>Товар №{{ b_item.id }}</span>
            <div class="basket-item--info">
                <div>
                    <h3>Название: {{ b_item.product.name }}</h3>
                    <p>Категория: {{ b_item.product.category.name }}</p>
                </div>
                <div>
                    <p class="product-price">{{ b_item.product.price }} KZT</p>
                    <button class="to-shop-button">Убрать из корзины</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</body>
</html>