{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'market/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'market/css/header.css' %}">
</head>
<body>
    <header>
        <div>
            {% for m in menu %}
                <a href="{% url m.url %}">{{ m.title }}</a>
            {% endfor %}
        </div>

        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'authe:profile' %}">Profile</a>
                <a href="{% url 'authe:signout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'authe:signin' %}">Sign In</a>
                <a href="{% url 'authe:signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </header>

    <section class="home-page-title">
        <h1>Django Store</h1>
        <h3>Наш магазин занимаеться продажей бытовых продуктов</h3>
        <p>В нашем магазине вы сможете купить продукты онлайн!</p>
    </section>
</body>
</html>